<p>Hey {{name}},</p>
<p>Welcome to our app, please confirm your email to access our in-app features.</p>
<p>If that was you, click the link below to continue</p>
<p>
  <a href='{{url}}'>Confirm email</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
