<p>Hey {{name}},</p>
<p>You or someone has requested an email change.</p>
<p>If that was you, click the link below to continue</p>
<p>
  <a href='{{url}}'>Confirm email</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
